In [10]:
# Importer les bibliothèques
import pandas as pd
import numpy as np

# Lire le fichier csv dans un dataframe pandas
df = pd.read_csv("/Users/ronanlamour/Desktop/THP_Ronan_Lamour/Semaine_5/Day_2/Invoice_20201220.csv", encoding='utf-8', sep="|")

# Exclure la colomne Invoice qui ne sert pas
df = df.drop(columns="INVOICE_NAME")

# Afficher les premières lignes
print(df.head())

            SITE_NAME       BEGIN         END KWH_PERIOD PERIOD_EUR    SITE
0  12345_GEO (0001BB)  01/01/2018  31/01/2018      2 447     316,46  0001BB
1  12345_GEO (0001BB)  01/02/2018  28/02/2018      2 211     286,82  0001BB
2  12345_GEO (0001BB)  01/03/2018  31/03/2018      2 450     317,32  0001BB
3  12345_GEO (0001BB)  01/04/2018  30/04/2018      2 431     315,00  0001BB
4  12345_GEO (0001BB)  01/05/2018  31/05/2018      2 574     333,37  0001BB

In [2]:
# Affichage SITE_NAME pour observer la composition de la colonne et le type de valeurs
print(df['SITE_NAME'])

0        12345_GEO (0001BB)
1        12345_GEO (0001BB)
2        12345_GEO (0001BB)
3        12345_GEO (0001BB)
4        12345_GEO (0001BB)
                ...
51427    19767_GEO (0632KO)
51428    19767_GEO (0632KO)
51429    19767_GEO (0632KO)
51430    19767_GEO (0632KO)
51431    19883_GEO (1203KO)
Name: SITE_NAME, Length: 51432, dtype: object

In [21]:
# Affichage de la colonne SITE en format chiffreLETTRE
df['SITE'] = df['SITE_NAME'].str[11:17]
print(df['SITE'])

0        0001BB
1        0001BB
2        0001BB
3        0001BB
4        0001BB
          ...
51427    0632KO
51428    0632KO
51429    0632KO
51430    0632KO
51431    1203KO
Name: SITE, Length: 51432, dtype: object

In [23]:
# Création d'une nouvelle colonne pour la période de facturation
df["periode_facturation"] = "df['fact']"
df.to_csv("Invoice_20201220.csv", index=False)

In [16]:
# Nombre de jours entre début et fin de la facturation
df['BEGIN'] = pd.to_datetime(df['BEGIN'])
df['END'] = pd.to_datetime(df['END'])

df['fact'] = (df['END'] - df['BEGIN']).dt.days
print(df['fact'])

0         30
1         57
2         87
3        116
4        146
        ...
51427    123
51428     90
51429    178
51430    267
51431     95
Name: fact, Length: 51432, dtype: int64

In [17]:
print(df.head())

            SITE_NAME      BEGIN        END KWH_PERIOD PERIOD_EUR    SITE  \
0  12345_GEO (0001BB) 2018-01-01 2018-01-31      2 447     316,46  0001BB
1  12345_GEO (0001BB) 2018-01-02 2018-02-28      2 211     286,82  0001BB
2  12345_GEO (0001BB) 2018-01-03 2018-03-31      2 450     317,32  0001BB
3  12345_GEO (0001BB) 2018-01-04 2018-04-30      2 431     315,00  0001BB
4  12345_GEO (0001BB) 2018-01-05 2018-05-31      2 574     333,37  0001BB

  periode_facturation  fact
0          df['fact']    30
1          df['fact']    57
2          df['fact']    87
3          df['fact']   116
4          df['fact']   146

In [18]:
# Enlever l'éspace de la valeur KWH_PERIOD
df['KWH'] = df['KWH_PERIOD'].str[0:1] + df['KWH_PERIOD'].str[2:]
df['KWH'] = pd.to_numeric(df['KWH'], errors='coerce').fillna(0).astype(np.int64)

In [19]:
# Opération KWH divisé par la période
df['Consum_moy'] = df['KWH'] / df['fact']
df['Consum_moy']

0        81.566667
1        38.789474
2        28.160920
3        20.956897
4        17.630137
           ...
51427    24.617886
51428    24.033333
51429    12.134831
51430     8.352060
51431    49.947368
Name: Consum_moy, Length: 51432, dtype: float64

In [30]:
# Colonne qui donne, pour chaque antenne, le nombre de factures dont on dispose au total
df.groupby('SITE')['PERIOD_EUR'].count().reset_index(name='Factures')

        SITE  Factures
0          )        11
1     0001BB        35
2     0001BR        35
3     0001KO        35
4     0002BB        35
...      ...       ...
2398  9513BB         2
2399  9515BB         2
2400  9516BB         2
2401  9517BB         2
2402  9518BB         2

[2403 rows x 2 columns]

In [31]:
# Question bonus TO DO